@font-face {
    font-family: 'perrito';
    src: url('../font/simply_rounded/Simply Rounded Bold.ttf');
}

@media (max-width: 768px) {
    img {
        max-width: 100%;
        max-height: 250px; /* Ajusta según tus necesidades para pantallas más pequeñas */
    }
}

body {
    background-image: url("../img/fondo1.jpg");
    background-size: 70%;
    position: relative;
    padding-bottom: 5em;
    min-height: 100vh;
}

.custom-width {
    width: 95%;
    height: 800px;
    margin: 0 auto; /* Para centrar el carrusel horizontalmente */
    transform: scale(1.1);
}

#card {
    transition: transform 0.5s ease; /* Agregamos una transición para que sea suave */
}

#card:hover {
    transform: scale(1.1); /* Hacemos un zoom al pasar el ratón sobre el div */
}

.card-img-top {
    transition: transform 0.5s ease; /* Agregamos una transición para que sea suave */
    border-radius: 5px;
}

.card-img-top:hover {
    transform: scale(0.97); /* Hacemos un zoom al pasar el ratón sobre el div */
}

#quienes-somos{
    background-color: #ffffff;
    margin-right: 10%;
    margin-left: 10%;
    border-radius: 5px;
    
}

.tipo-letra{
    font-family: 'perrito', sans-serif;
}

#cabecera
{
    background-color: #101214;
    opacity: 0.96;
    position: initial;
    width: 100%;
    font-family: 'perrito', sans-serif;
}

#section0{
    font-family: 'perrito', sans-serif;
    box-shadow: 0px 3px 3px #666666;

}

#section1{
    margin: 50px 10% 50px 10%;
    text-align: center;
    
}

#card
{
    box-shadow: 3px 3px 3px #666666;
}


#formulario_contacto
{
    background-color: white;
    margin-top: 50px;
    border-radius: 15px;
    box-shadow: 0px 3px 3px #666666;

}

#footer{

    background-color: #101214;
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0.96;
    padding: 1em 0;

}







